*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  text-decoration: none; 
  list-style: none;
}

body {
    background-color: #FAFAFA;
    font-family: 'Segoe UI';
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

main{
    width: 100%;
    height: 100%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

main .container .phone-content{
    position: relative;
}

main .container .phone-content img{
    margin-left: -40px;
}
main .container .phone-content .image{
    position: absolute;
    top: 100px;
    left: 150px;
    filter: opacity(0);
    z-index: 2;
    animation: fadeIn 6s  ease-in-out;
}

main .container .phone-content .image1{
    position: absolute;
    top: 100px;
    left: 150px;
    filter: opacity(0);
    z-index: 2;
    animation: fadeIn 6s  ease-in-out 4s;
}
main .container .phone-content .image2{
    position: absolute;
    top: 100px;
    left: 150px;
    filter: opacity(0);
    z-index: 2;
    animation: fadeIn 6s  ease-in-out 9s;
}
main .container .phone-content .image3{
    position: absolute;
    top: 100px;
    left: 150px;
    filter: opacity(0);
    z-index: 2;
    animation: fadeIn 6s  ease-in-out 14s;
}
main .container .phone-content .image4{
    position: absolute;
    top: 100px;
    left: 150px;
    filter: opacity(0);
    z-index: 2;
    animation: fadeIn 6s  ease-in-out 19s;
}

main .container .login{
    margin-top: 5px;
    margin-left: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .container .login .login-content{
    height: 378px;
    width: 349px;
    position: relative;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #DBDBDB;
}

main .container .login .login-content .instragram{
    width: 170px;
    height: 45px;
    margin-top: 25px;
    margin-bottom: 36px;
}

main .container .login .login-content input{
    width: 265px;
    height: 37px;
    margin-bottom: 7px;
    background-color: #FAFAFA;
    border: 1px solid #dfdfdf;
    padding-left: 7px;
    border-radius: 3px;
}

::-webkit-input-placeholder{ 
    color:#a0a0a0;
    font-size: 12px; 
}

main .container .login .login-content button{
    width: 265px;
    height: 30px;
    margin-top: 7px;
    font-weight: bold;
    color: #fff;
    background-color: #b7dcfa;
    border: none;
    border-radius: 3px;
}

main .container .login .login-content p{
    margin-top: 15px;
    font-size: 13px;
    font-weight: bold;
    color: #8e8e8e;
}

main .container .login .login-content .social-login{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

main .container .login .login-content .social-login img{
    width: 18px;
}

main .container .login .login-content .social-login a{
    margin-left: 5px;
    color: #385185;
    font-size: 14px;
    font-weight: bold;
}

main .container .login .login-content .forgot{
    font-size: 12px;
    color: #00376b;
    margin-top: 15px;
    margin-bottom: 10px;
}


main .container .login .sign-up{
    width: 349px;
    height: 60px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #DBDBDB;
}

main .container .login .sign-up p{
    font-size: 14px;
    color: #262626;
}

main .container .login .sign-up p a{
    margin-left: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #0095F6;
}

main .container .login .get-app{
    font-size: 14px;
    color: #262626;
    margin-top: 20px;
}

main .container .login .stores{
    margin-top: 20px;
}

main .container .login .stores img{
    width: 133px;
    margin-right: 2.5px;
    margin-left: 2.5px;
}

main .container .login .stores img:hover{
    cursor: pointer;
}

footer{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

footer ul{
    display: flex;    
}

footer ul li{
    margin-left: 15px;
}

footer ul li a{
    font-size: 12px;
    color:#8e8e8e;
}
footer .language{
    margin-top: 15px;
}

footer .language #languages{
    border: none;
    font-size: 12px;
    color: #8e8e8e;
}
footer .language span{
    font-size: 12px;
    color: #8e8e8e;
    margin-left: 10px;
}

/* Responsividade */
@media (max-width: 870px) {
    main .container .phone-content{
        display: none;
    }
}

/* Animação de telas */
@keyframes fadeIn{
    0%{
        filter: opacity(0);
    }

    50%, 85%{
        filter: opacity(1);
    }
    
    100%{
        filter: opacity(0);
    }
}